.marketWrap{
    background-image: url('https://imgs.bamboownft.com/temp/market-bg.png');
    background-size:cover;
}
.myLineHeight1 {
    font-size: 16px;
    line-height: 18px;
    text-align: justify;
  }