.pink-line{
	border-bottom: 3px dashed #FC3A99;
}
.grey-line{
	border-bottom: 3px dashed #808080;
}
.taohong-bg{
	background: #FC3A99;
}
.huise-bg{
	background: #A3A3A3;
}
.home{
	&-radius-btn{
		padding: 8px 12px;
		border-radius: 50px;
	}
	&-xinxi {
		position: absolute;
		right: 0;
		// background-image: url(https://bamboo-imgs.s3.ap-southeast-1.amazonaws.com/temp/bg_11.png);
		// width: 521px;
		// height: 143px;
		// background-position: center;
		// background-repeat: no-repeat;
		// background-size: contain;
		mix-blend-mode: lighten;
	}
}
.for-egg {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: #532a83;
	top: 50px;
	left: 0;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	&-pic {
		img {
			width: 150px;
		}
	}
	&-bg {
		position: absolute;
    z-index: -1;
		transform: scale(0.4);
		width: 4320px;
		height: 2700px;
		animation: eggAni 2s forwards;
		-webkit-animation: eggAni steps(1,end) 2s forwards;
		background-size: contain;
		background-repeat: no-repeat;
		background: url(https://bamboo-imgs.s3.ap-southeast-1.amazonaws.com/temp/home-egg-ani.png);
		mix-blend-mode: color-dodge;

	}
	&-minted{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&-pic{
			display: flex;
			justify-content: center;
			align-items: center;
			background: url(https://bamboo-imgs.s3.ap-southeast-1.amazonaws.com/temp/bg_11.png);
			width: 750px;
			height: 350px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			mix-blend-mode: lighten;
			img{
				mix-blend-mode:normal;
			}

		}
		&-title{
			position: relative;
			top: -50px;
		}
	}
}
@keyframes eggAni {
	from{
		background-position: 0 0;
	}
	to{
		background-position: 0 2700px;
	}
}