.pink-line{
	border-bottom: 3px dashed #FC3A99;
}
.grey-line{
	border-bottom: 3px dashed #808080;
}
.taohong-bg{
	background: #FC3A99;
}
.huise-bg{
	background: #A3A3A3;
}
.home{
	&-radius-btn{
		padding: 8px 12px;
		border-radius: 50px;
	}
	&-xinxi {
		position: absolute;
		right: 0;
		mix-blend-mode: lighten;
	}
}