.title {
  background: rgb(121, 242, 157);
}
.wrap-1{
  background: url('https://bamboo-imgs.s3.ap-southeast-1.amazonaws.com/temp/main_bg.png');
}
.mb-200px {
  margin-bottom: 200px;
}
.mb-100px {
  margin-bottom: 100px;
}
.ant-carousel .slick-list{
  overflow: visible;
}
.back-to-top{
  position: fixed;
  bottom: 40px;
  right: 0px;
}